%h1= t('hello')
.card.border-primary.mb-3{:style => "max-width: 50rem;"}
  .card-header Header
  .card-body.text-primary
    %h4.card-title Primary card title
    %p.card-text Some quick example text to build on the card title and make up the bulk of the cards content.
